<div class="side-nav">
    <div class="logo">
        <i class="fa fa-tachometer"></i>
        <span>Brand</span>
    </div>
    <nav>
        <ul>
            <li <% if (active == "profile") { %> class="active" <% } %>>
                <a href="/user/profile" >
                    <span><i class="fa fa-user"></i></span>
                    <span>User Profile</span>
                </a>
            </li>
            <li <% if (active == "createAd") { %> class="active" <% } %>>
                <a href="/user/profile/createAd">

                    <span><i class="fa fa-envelope"></i></span>
                    <span>Create An Ad</span>
                </a>
            </li>
            <li <% if (active == "userListings") { %> class="active" <% } %>>
                <a href="/user/userListings">
                    <span><i class="fa fa-bar-chart"></i></span>
                    <span>Manage Your Ads</span>
                </a>
            </li>
            <li <% if (active == "userPurchases") { %> class="active" <% } %>>
                <a>
                    <span><i class="fa fa-bar-chart"></i></span>
                    <span>Your Purchases</span>
                </a>
            </li>
        </ul>
    </nav>
</div>