table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    background-image: url("../images/eBay-Logo.png");
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#dot-list {
    list-style-type: dot;
}

ul.b {
    list-style-type: square;
}

h1 {
    color: red;
    font-family: "Bangla Sangam MN";
}

.blue-title {
    color: aqua;
}

#purchase-title {
    font-size: 38px;
    text-transform: uppercase;
}

#purchase-title:hover {
    color: #750000;
}

.box-model {
    border: 1px solid #000000;
    width: 80%;
    text-align: right;
}
