.flex-item {
    width: 200px;
    height: 500px;
    border: 1px solid red;
    flex-shrink: 1;
}

.flex-container {
    display: flex;
    border: 1px solid #dedede;
    justify-content: space-around;
    height: 50px;

}
.box{
    width: 500px;
    margin: 20px auto;
    padding: 50px;

    border:1px solid black;
}