.mac-model {
    display: inline-block;
    width: 1000px;
    height: 650px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    border: 1px solid black;

    max-width: 580px;
    margin: 50px;

}


header {
    border: 1px solid gray;
    height: 2200px;
}

div a {

    text-decoration: none;
    width: 100%;
    height: 100%;
}

div:hover {
    background-color: #dedede;
}

p {
    text-align: left;
}

.container {
    position: relative;
    border: 0;
}

.mac-model nav {
    position: absolute;
    left: auto;
    width: 150px;
}

li {
    text-align: left;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    background-color: white;
    width: 100%;
    border: 5px solid deepskyblue;
    text-align: center;


}

body {
    margin-bottom: 120px;
}

img {
    top: 0;
    float: right;
    width: 50%;
    height: 30%;
    margin: 0 0 1em 1em;


}

.box1 {

    border: 1px solid black;
    width: 429px;
    height: 556px;
    text-align: left;

}

.initial {
    -webkit-flex: initial;
    flex: initial;
    width: 200px;
    min-width: 100px;
    border: 1px solid black;
}

#container2 {

}

.none {
    -webkit-flex: none;
    flex: none;
    width: 200px;
}

.flex1 {
    -webkit-flex: 1;
    flex: 1;
}

.flex2 {
    -webkit-flex: 2;
    flex: 2;
}

.inline-block {
    display: inline-block;
    width: 400px;
    height: 500px;
    border: 1px solid #750000;
    margin: 10px;
}

.float-left {
    float: left;
    width: 400px;
    height: 500px;
    border: 1px solid red;
    margin: 10px;
}

.flex-container {
    width: 100%;
    margin: 0 auto;
    overflow: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.flex-item {
    width: 200px;
    height: 500px;
    border: 1px solid red;
    flex-shrink: 1;
}

.inner-container {
    margin: 0 auto;
    border: 1px solid;
    overflow: auto;
}

@media screen and (min-width: 1300px) {
    .inner-container {
        width: 1266px;
    }
}

@media screen and (min-width: 870px) and (max-width: 1299px) {
    .inner-container {
        width: 844px;
    }
}

@media screen and (max-width: 869px) {
    .inner-container {
        width: 430px;
    }
}
