<!-- Modal -->
<div aria-hidden="true" aria-labelledby="exampleModalCenterTitle" class="modal fade" id="exampleModalCenter"
     role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Shopping Carts</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive m-t">
                    <table class="table invoice-table">
                        <thead>
                        <tr>
                            <th>List</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th>Tax Rate</th>
                            <th>Total Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <div><strong>eg.2019 New hat</strong>
                                </div>
                            </td>
                            <td>1</td>
                            <td>$10.00</td>
                            <td>$10.00</td>
                            <td>$20.00</td>
                        </tr>
                        <tr>
                            <td>
                                <div><strong>eg.New 2019 Large size loose coat</strong>
                                </div>
                                <small>![Special Discount Today]
                                </small>
                            </td>
                            <td>1</td>
                            <td>$20.00</td>
                            <td>$20.00</td>
                            <td>$40.00</td>
                        </tr>
                        <tr>
                            <td>
                                <div><strong>eg.2019 fashion teen pants</strong>
                                </div>
                            </td>
                            <td>1</td>
                            <td>$30.00</td>
                            <td>$10.00</td>
                            <td>$40.00</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <!-- /table-responsive -->

                <table class="table invoice-total">
                    <tbody>
                    <tr>
                        <td><strong>Product Price：</strong>
                        </td>
                        <td>$60.00</td>
                    </tr>
                    <tr>
                        <td><strong>Tax Rate：</strong>
                        </td>
                        <td>$40.00</td>
                    </tr>
                    <tr>
                        <td><strong>Total Price</strong>
                        </td>
                        <td>$100.00</td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-right">
                    <button class="btn btn-primary"><i class="fa fa-dollar"></i> Go to Pay</button>
                </div>

                <div class="well m-t"><strong>Attention：</strong> Please complete the payment within 24 hours or the
                    order will be cancelled automatically.
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                    <button class="btn btn-primary" type="button">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div>
        <div aria-hidden="true" aria-labelledby="exampleModalScrollableTitle" class="modal fade"
             id="exampleModalScrollable"
             role="dialog" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-info" id="exampleModalScrollableTitle">Register</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="actor.html" class="needs-validation" id="signupForm" method="get" novalidate>
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input class="form-control" id="email" name="email" placeholder="Enter email"
                                       required type="email">
                                <div class="invalid-feedback">
                                    Please choose a email.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="firstname">First Name</label>
                                <input class="form-control" id="firstname" name="firstname" placeholder="First Name"
                                       required type="text">
                            </div>
                            <div class="form-group">
                                <label for="lastname">Last Name</label>
                                <input class="form-control" id="lastname" name="lastname" placeholder="Last Name"
                                       required type="text">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input class="form-control" id="password" name="password" placeholder="Password"
                                       required type="password">
                            </div>
                            <div class="form-group">
                                <label for="confirm_password">Confirm Password</label>
                                <input class="form-control" id="confirm_password" name="confirm_password"
                                       placeholder="Password" required type="password">
                            </div>
                            <div class="form-group form-check">
                                <input class="form-check-input" id="agree" type="checkbox">
                                <label class="form-check-label" for="agree">Please agree to our statement</label>
                            </div>
                            <div class="form-group form-check">
                                <input class="form-check-input" id="newsletter" type="checkbox">
                                <label class="form-check-label" for="newsletter">I am happy to receive new
                                    information</label>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                        <button class="btn btn-primary" onclick="submit()" type="button">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div>
            <div aria-hidden="true" aria-labelledby="signinTitle" class="modal fade" id="Signin"
                 role="dialog" tabindex="-1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-info" id="signinTitle">Sign In</h5>
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="actor.html" class="needs-validation" method="get" novalidate>
                                <div class="form-group">
                                    <label for="signinemail">Email address</label>
                                    <input class="form-control" id="signinemail" name="emial" placeholder="Enter email"
                                           required type="email">
                                    <div class="invalid-feedback">
                                        Please choose a email.
                                    </div>
                                    <div class="form-group">
                                        <label for="signinpassword">Password</label>
                                        <input class="form-control" id="signinpassword" name="password"
                                               placeholder="Password"
                                               required type="password">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                            <button class="btn btn-primary " onclick="$('#signinValidate').submit()" type="button">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer ">
        <div class="container">
            <div class="row footer-bottom">
                <ul class="list-inline text-center">
                    <li>Copyright &copy;2019. n Team Software All Rights Reserved.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="http://libs.cdnjs.net/jquery/2.2.1/jquery.js"></script>
<script src="http://libs.cdnjs.net/jquery-validate/1.14.0/jquery.validate.min.js"></script>
<script src="/js/registerValidate.js"></script>
<script src="/js/signInValidate.js"></script>
</body>
</html>