<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/styles/js2.css" rel="stylesheet" type="text/css">
    <title>Inside</title>
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <button aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarTogglerDemo01" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand text-warning" href="#" onclick="window.location.href='http://localhost:3000'">Home </a>
        <div class="inline-block" style="width:80%">
            <div class="px-3 py-1 bg-light rounded rounded-pill shadow-sm" style="margin:0 20px">
                <div class="input-group">
                    <input aria-describedby="button-addon1" class="form-control border-0 bg-light"
                           placeholder="What're you searching for?" id="searchInput"
                           type="search">
                    <div class="input-group-append">
                        <button class="btn btn-link text-primary" id="button-addon1" type="button" onclick="window.location.href='/listing/search=' + $('#searchInput').val()"><i
                                    class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <% if(user != null) { %>
            <div class="inline-block mr-4 text-light">
                Hello <%= user.username %>
            </div>
            <% if (isAdmin)  { %>
            <button class="btn btn-warning mr-2" onclick="window.location.href='/admin/dashboard'" type="button">
                Admin Dashboard
            </button>
            <% } %>
            <button class="btn btn-warning mr-2" onclick="window.location.href='/user/profile'" type="button">
                Profile
            </button>
            <button class="btn btn-danger mr-2" onclick="window.location.href='/user/logout'" type="button">
                Logout
            </button>
        <% } else { %>
            <button class="btn btn-info mr-2" data-target="#Signin" data-toggle="modal" href="#" style="margin:0 10px">
                Sign In
            </button>
            <button class="btn btn-info mr-2" data-target="#exampleModalScrollable" data-toggle="modal" href="#">
                Register
            </button>
        <% } %>
    </div>
</nav>
