<% include ../../partials/head %>
<div style="width:80% ;margin:20px auto">
<h2>Inbox</h2>

<div class="my-4">
    <a href="./contact">
        <button class="btn btn-primary">
            Create New Message
        </button>
    </a>
</div>

<table class="table table-hover" >
    <thead>
    <tr>
        <th scope="col">Send To</th>
        <th scope="col">Title</th>
        <th scope="col">Date</th>
    </tr>
    </thead>
    <tbody>
        <% for (message of messages) { %>
            <tr onclick="window.location.href = '/message/id=<%= message.id%>'">
                <td><%=message.userIDFrom%></td>
                <td><%=message.header%></td>
                <td><%=message.date.toLocaleString()%></td>
            </tr>
        <% } %>
    </tbody>
</table>
</div>


<% include ../../partials/foot %>