<% include ../../partials/head %>

<div class="container justify-content-center card card-body my-4">
    <div style="width:80% ;margin: 20px auto">
        <div class="my-3 mb-5">
            <h1 class="medium-title"><%=message.header%></h1>
        </div>

        <div>
            <h4 class="text-secondary">Message Body</h4>
            <div class="border p-2" style="border-color: #CCCCCC">
                <%= message.body%>
            </div>
        </div>
    </div>
</div>

<% include ../../partials/foot %>