<div id="<%=dialogID%>" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Edit Payment</h5>
            </div>

            <form action="/user/profile/editPayment" method="POST">

                <div class="modal-body">
                    Nickname:<br>
                    <input type="text" name="editPayment_nickname"><br>
                    Cardholder Name:<br>
                    <input type="text" name="editPayment_cardholderName"><br>
                    Card Number:<br>
                    <input type="text" name="editPayment_number"><br>
                    Expiry:<br>
                    <input type="text" name="editPayment_Expiry"><br>
                    CVV:<br>
                    <input type="text" name="editPayment_CVV"><br>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                    <input type="submit" value="Submit" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>
</div>