<% include ../../partials/head %>
<div style="width:80% ;margin: 20px auto">
    <div class="mb-5">
        <h2>Title</h2>
        <div class="border p-2" style="border-color: #CCCCCC">What's going on</div>
    </div>

    <div>
        <h2>Message Body</h2>
        <div class="border p-2" style="border-color: #CCCCCC">

            Not exactly answer for your question, but I found your question looking for an answer to my issue. So I post it here, maybe it will help somebody.

            My issue was that cookies were set in server response, but were not saved by browser. The server response came back with cookies set</div>
    </div>
</div>

<% include ../../partials/foot %>