<% include ../../partials/head %>
<div style="width:80% ;margin:20px auto">
<h2>Inbox</h2>
<table class="table table-hover" >
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Sender</th>
        <th scope="col">Title</th>
        <th scope="col">Date</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Help something</td>
        <td>10/01/2019</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>what's wrong?</td>
        <td>10/01/2019</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Nike</td>
        <td>Congratulation man</td>
        <td>08/01/2019</td>
    </tr>
    </tbody>
</table>
</div>


<% include ../../partials/foot %>